@{
    ViewData["Title"] = "Home Page";
}
<section id="hero">
    <div class="container">
        <h1>Welcome</h1>
        <p>We provide dental servces to our patients </p>
        <button type="button"  id= "btngetstarted" class="btn btn-warning">Get Started</button>
    </div>
</section>
