@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">Welcome</h1>
    <h2 class="display-4">We provide dental servces to our patients</h2>
    <img height=" 500" src="/images/dental_care.png" alt="">
</div>
