@{
    ViewData["Title"] = "Our Services";
}
<section id="serviceshero">
    <div class="text-left">
        <h2>General Dental Care in E-Dental Tech Center.</h2>
        <h1>Everything you expect and then Some</h1>
        <button type="button" class="btn btn-danger">Book Online</button>
        <p>Or Call +977 981-5641417</p>
    </div>
</section>
<div id="services2" class="row">
    <div class="col-6">
        <img height="200" src="/images/logo.jpg" alt="">
    </div>
    <div class="col-6 bg-blue">
        <h1>Love your general dental care</h1>
        <p>We’re thrilled to be your new home for exceptional dentistry.
            Visit us for a cleaning, general dental exam, and a bit of pampering.
            Plus, everything else you need to look and feel your best.</p>
    </div>
</div>

<div id="services3" class="row text-center">
    <h3>Need to see a general dentist ASAP?</h3>
    <h5>When problems arise, don’t wait. We offer same-day appointments to get you out of pain as soon as possible. Call
        (303) 220-7662.</h5>
</div>

<div id="services4" class="row">
    <div class="col-6 bg-blue">
        <h1>Easy Automated Check-ins</h1>
        <p>Use our in-office iPads to check in and complete your patient forms. Our average wait time is around 5 minutes — although, with all of the amenities in our waiting room, you may wish to stay longer.</p>
    </div>
    <div class="col-6">
        <img height="200" src="/images/logo.jpg" alt="">
    </div>
</div>