@model Procurement

@{
    ViewData["Title"] = "New Procurement Entry";
}
<p>New Procurement Entry</p>
<form class="row g-3" asp-action="Add" method="post">
    <div class="col-md-6">
        <label asp-for="Particulars" class="form-label"></label>
        <input asp-for="Particulars" class="form-control">
    </div>
    <div class="col-md-6">
        <label asp-for="Vendor" class="form-label"></label>
        <input asp-for ="Vendor" class="form-control">
    </div>
    <div class="col-12">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control">
    </div>
    <div class="col-12">
        <label asp-for="Quantity" class="form-label"></label>
        <input asp-for="Quantity" class="form-control">
    </div>
    <div class="col-12">
        <label asp-for="Warranty" class="form-label"></label>
        <input asp-for="Warranty" class="form-control">
    </div>
    <div class="col-12">
        <label asp-for="Date" class="form-label"></label>
        <input asp-for="Date" class="form-control">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">  <i class="bi bi-floppy">  Save</i> </button>
    </div>
</form>